@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

.bg-diagonal-line {
	position: absolute;
	transform: skewY(-2.5deg);
	height: 200px;
	width: 100%;
	background: #e8f5ff;
	padding-top: 30px;
	margin-top: 50px;
}
